---
 - apt: update_cache=true
 - name: Install python-curl
   sudo: yes
   apt: pkg='python-pycurl' state=present

 - name: Add archivematica PPA
   sudo: yes
   apt_repository: repo=ppa:'{{ item }}' state=present
   with_items:
     - '{{ ppa }}'

 - apt_repository: repo="{{item}}" update_cache=false
   register: multiverse_installed
   when: ansible_distribution == 'Ubuntu'
   with_items:
     - 'deb http://archive.ubuntu.com/ubuntu {{ansible_distribution_release}} multiverse'
     - 'deb-src http://archive.ubuntu.com/ubuntu {{ansible_distribution_release}} multiverse'
     - 'deb http://archive.ubuntu.com/ubuntu {{ansible_distribution_release}}-updates multiverse'
     - 'deb-src http://archive.ubuntu.com/ubuntu {{ansible_distribution_release}}-updates multiverse'

 - name: Install archivematica packages
   sudo: yes
   apt: pkg='{{ item }}' state=present update_cache=yes
   with_items:
     - gearman
     - archivematica-mcp-server
     - archivematica-mcp-client
     - archivematica-dashboard
     - git
