---
- apt: update_cache=true

- name: Install prerequisites
  apt: pkg='{{ item }}' state=present
  sudo: yes
  with_items:
    - python-pycurl
    - apt-transport-https

#- name: Add archivematica PPA
#  sudo: yes
#  apt_repository: repo='ppa:archivematica/externals' state=present
#  with_items:
    #- '{{ ppa }}'

# https://github.com/ansible/ansible/issues/9966
- name: Add archivematica repository key
  apt_key: url="https://packages.archivematica.org/1.6.x/development.asc" state=present validate_certs=false

- name: Add archivematica repository key
  apt_key: url="https://packages.archivematica.org/1.5.x/key.asc" state=present validate_certs=false



- apt_repository: repo="{{item}}" update_cache=false
  register: multiverse_installed
  when: ansible_distribution == 'Ubuntu'
  with_items:
    - 'deb http://archive.ubuntu.com/ubuntu {{ansible_distribution_release}} multiverse'
    - 'deb-src http://archive.ubuntu.com/ubuntu {{ansible_distribution_release}} multiverse'
    - 'deb http://archive.ubuntu.com/ubuntu {{ansible_distribution_release}}-updates multiverse'
    - 'deb-src http://archive.ubuntu.com/ubuntu {{ansible_distribution_release}}-updates multiverse'
    - 'deb http://packages.archivematica.org/1.6.x/ubuntu-candidate {{ansible_distribution_release}} main'
    - 'deb http://packages.archivematica.org/1.5.x/ubuntu-externals {{ansible_distribution_release}} main'

- name: Install archivematica storage service packages
  sudo: yes
  apt: pkg='{{ item }}' state=present update_cache=yes
  with_items:
    - archivematica-storage-service
